<div class="system-content" style="grid-template-columns: 1fr">
    <div class="system-body" >
        <green-map-control (mapInit)="mapInit($event)"></green-map-control>
        <div class="panel" style="position: absolute; top: 15px; right: 15px; z-index: 1000;">
            <div class="panel-heading">
                <div class="panel-title">配置</div>
            </div>
            <div class="panel-body" style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px; width: 540px" *ngIf="option">
                <div class="input-group" style="text-align: center;">
                    <div class="input-group-addon">显示：</div>
                    <nz-switch class="form-control" [(ngModel)]="option.visible" (ngModelChange)="change()"></nz-switch>
                </div>
                <div class="input-group"></div>
                <div class="input-group">
                    <div class="input-group-addon">边框色：</div>
                    <input class="form-control" type="color" name="strokeColor" [(ngModel)]="option.strokeStyle"  (ngModelChange)="change()">
                </div>
                <div class="input-group">
                    <div class="input-group-addon">填充色：</div>
                    <input class="form-control" type="color" name="fillColor" [(ngModel)]="option.fillStyle"  (ngModelChange)="change()">
                </div>
                <div class="input-group">
                    <div class="input-group-addon">半径：</div>
                    <input class="form-control" type="number" name="radius" [(ngModel)]="option.radius"  autocomplete="off" (ngModelChange)="change()" min="4" [max]="16" step="1">
                </div>
            </div>
        </div>
    </div>
</div>
