$color-primary: rgb(77,146,33);
$color-primary-active: rgb(39,100,25);
$color-primary-hover: rgba(77,146,33, 0.5);
$color-primary-active-hover: rgba(39,100,25, 0.5);
$color-primary-bg: rgba(77,146,33, 0.2);

$color-success: rgb(34, 215, 187);
$color-success-active: rgb(24, 149, 130);
$color-warning: rgb(255, 128, 0);
$color-warning-active: rgb(200, 110, 0);
$color-danger: rgb(255, 91, 87);
$color-danger-active: rgb(248, 18, 11);

$color-background: rgba(77,146,33, 0.2);
$color-background-light: rgb(230,245,208);

$color-font: rgb(39,100,25);

