<div class="system-content" style="grid-template-columns: 1fr">
    <div class="system-body" >
        <baidu-map-control (mapInit)="mapInit($event)"></baidu-map-control>
        <div class="panel" style="position: absolute; top: 15px; right: 15px; z-index: 1000;">
            <div class="panel-heading">
                <div class="panel-title">配置</div>
            </div>
            <div class="panel-body" style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px; width: 540px">
                <div class="input-group">
                    <div class="input-group-addon">经度：</div>
                    <input class="form-control" type="number" name="lng" [(ngModel)]="option.lng"  autocomplete="off" (ngModelChange)="change()" min="-180" max="180" step="0.001">
                </div>
                <div class="input-group">
                    <div class="input-group-addon">纬度：</div>
                    <input class="form-control" type="number" name="lat" [(ngModel)]="option.lat"  autocomplete="off" (ngModelChange)="change()" min="-85" max="85" step="0.001">
                </div>
            </div>
        </div>
    </div>
</div>
