<div class="dashboard-wrapper">
    <div class="dashboard-body">
        <div class="area-a">
            <div></div>
            <h1 style="color: black; font-size: 64px; font-family: '华文行楷'; text-align: center"><span style="font-size: 128px; ">A</span> <span style="margin-left: 60px; color: red;">Green</span> <span style="margin-left: 30px;"> GIS </span><span style="margin-left: 30px;">API</span></h1>
            <h5 style="color: gray; font-size: 24px; font-family: '华文行楷'; text-align: center">
                <span style="margin-left: 30px;">Light</span>
                <span style="margin-left: 30px;">Quick</span>
                <span style="margin-left: 30px;">Agile</span>
            </h5>
            <h5 style="color: red; font-size: 24px; font-family: '华文行楷'; text-align: center">for</h5>
            <h5 style="color: gray; font-size: 24px; font-family: '华文行楷'; text-align: center">
                <span style="margin-left: 30px;">Learning</span>
                <span style="margin-left: 30px;">Truth</span>
                <span style="margin-left: 30px;">Love</span>
            </h5>
            <div></div>
        </div>
        <div class="area-b">
            <green-map-control (mapInit)="mapInit($event)"></green-map-control>
        </div>
    </div>
    <div class="dashboard-foot">
        <a href="http://beian.miit.gov.cn/" target="_blank"><span>Copyright © 2018-2020 Green GIS 版权所有 </span>ICP证：京ICP备15010239号-2</a>
    </div>
</div>
