<ul *ngIf="!collapse">
  <li *ngFor="let node of tree">
    <a class="ngg-tree-node" [ngClass]="{'active': node.active}" (click)="select(node)" >
      <span class="expand-icon" [ngStyle]="{visibility : node[key] ? 'visible' : 'hidden'}">
        <i class="fas fa-caret-right caret-down" [ngClass]="{'rotate-caret': node.expand}"></i>
      </span>
      <span class="title">{{node.name}}</span>
    </a>
    <ngg-tree #childTree class="ngg-tree" [root]="root" [isRoot]="false" [tree]="node[key]" [collapse]="!node.expand" *ngIf="node[key]"></ngg-tree>
  </li>
</ul>
